# Python cache
__pycache__/
*.pyc

# Virtual environment (if you use one)
.venv/
venv/
uv.lock
.python-version


# VSCode settings
.vscode/

# Environment variables (secrets)
.env
.env.local
.env.*

# Allow template
!.env.example

# Hugging Face dataset cache (prevents GB files being committed)
.cache/
huggingface/
**/datasets/

# Jupyter notebook checkpoints (if you later add .ipynb)
.ipynb_checkpoints/

# macOS junk
.DS_Store

# Test data
/data
test_retriever.py 

# HPC sbatch scripts
*.sbatch

# HPC logs
logs/
*.out
*.err

